# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               run\main_wsidi.wresl
Solver                 XA  
DvarFile               DEFAULT_DV_wsidi.dss
SvarFile               D:\Eclipse\workspace\CalLite\Scenarios\Run_Details\DEFAULT\Run\DSS\CL_FUTURE_BO_20140827_SV.DSS
SvarAPart              CalLite 
SvarFPart              2020D09E
InitFile               D:\Eclipse\workspace\CalLite\Scenarios\Run_Details\DEFAULT\Run\DSS\CL_INIT.dss
InitFPart              INITIAL 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
#GroundwaterDir         .
ShowWreslLog		   Yes 
PrefixInitToDvarFile   No    # Do not write initial dss file data into dvar dss result file

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

End Config

