# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               run\main.wresl
Solver                 XA  
DvarFile               Z:\GUI\EclipseWorkspace\CalLite\Scenarios\DEFAULT_DV.dss
SvarFile               Z:\GUI\EclipseWorkspace\CalLite\Scenarios\Run_Details\DEFAULT\Run\DSS\CL_Future_BO_20140305_SV.dss
SvarAPart              CalLite 
SvarFPart              2020D09E
InitFile               Z:\GUI\EclipseWorkspace\CalLite\Scenarios\Run_Details\DEFAULT\Run\DSS\CL_INIT.dss
InitFPart              INITIAL 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
#GroundwaterDir         .
ShowWreslLog		   Yes 
PrefixInitToDvarFile   No    # Do not write initial dss file data into dvar dss result file

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

End Config

