# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               run\main.wresl
Solver                 XA  
DvarFile               D:\cvwrsm\trunk\CalGUI\Scenarios\future_bo_d1641_plus_Bo_rpa_DV.DSS
SvarFile               D:\cvwrsm\trunk\CalGUI\Scenarios\Run_Details\future_bo_d1641_plus_Bo_rpa\Run\DSS\CL_FUTURE_BO_080911_SV.DSS
SvarAPart              CalLite 
SvarFPart              2020D09E
InitFile               D:\cvwrsm\trunk\CalGUI\Scenarios\Run_Details\future_bo_d1641_plus_Bo_rpa\Run\DSS\CL_INIT.dss
InitFPart              INITIAL 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
#GroundwaterDir         .
ShowWreslLog		   Yes 
PrefixInitToDvarFile   No    # Do not write initial dss file data into dvar dss result file

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

End Config

