Type Begin
   name=Power
   parameter=Power
   type=ALL
   Y Axis Reversed=true
   Line Begin
      DefaultLineStyles=true
      name=1
      lineColor=darkgreen
      pointFillColor=darkgreen
      pointLineColor=darkgreen
      symbolType=2
      symbolSize=6.0
      lineWidth=2.0
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=darkgreen
      pointFillColor=darkgreen
      pointLineColor=darkgreen
      symbolSize=6.0
      lineWidth=2.0
      lineStylePattern=Dash Dot-Dot
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
Type End
Type Begin
   name=Flow-In
   parameter=Flow
   type=ALL
   Line Begin
      DefaultLineStyles=true
      name=1
      lineColor=darkGray
      fillColor=red
      pointFillColor=red
      pointLineColor=red
      symbolType=4
      symbolSize=6.0
      lineWidth=2.0
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=darkGray
      fillColor=red
      pointFillColor=red
      pointLineColor=red
      symbolType=1
      lineWidth=2.0
      lineStylePattern=Dash Dot-Dot
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=darkGray
      fillColor=red
      pointFillColor=red
      pointLineColor=red
      symbolType=1
      lineWidth=2.0
      lineStylePattern=Dash
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=darkGray
      fillColor=red
      pointFillColor=red
      pointLineColor=red
      symbolType=1
      lineWidth=2.0
      lineStylePattern=Dash Dot
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=darkGray
      fillColor=red
      pointFillColor=red
      pointLineColor=red
      symbolType=1
      lineWidth=2.0
      lineStylePattern=Dot
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
Type End
Type Begin
   name=Power-Required
   parameter=Power
   type=ALL
   Y Axis Reversed=true
   Line Begin
      DefaultLineStyles=true
      name=1
      lineColor=red
      pointFillColor=darkmagenta
      pointLineColor=darkmagenta
      symbolSize=6.0
      lineStylePattern=Dash
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=red
      pointFillColor=darkmagenta
      pointLineColor=darkmagenta
      symbolSize=6.0
      lineStylePattern=Dot
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
Type End
Type Begin
   name=Power-Capability
   parameter=Power
   type=ALL
   Line Begin
      DefaultLineStyles=true
      name=1
      lineWidth=2.0
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineWidth=2.0
      lineStylePattern=Dash Dot-Dot
   Line End
Type End
Type Begin
   name=Flow-Holdout
   parameter=Flow
   type=ALL
   Line Begin
      name=1
      lineColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolType=2
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
   Line End
   Line Begin
      name=2
      lineColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolType=1
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=5
   Line End
   Line Begin
      name=3
      lineColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=10
   Line End
   Line Begin
      name=4
      lineColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolType=4
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=15
   Line End
   Line Begin
      name=5
      lineColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolType=9
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=20
   Line End
   Line Begin
      name=6
      lineColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolType=33
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=25
   Line End
Type End
Type Begin
   name=Elev-Zone
   parameter=Elev
   type=ALL
   Line Begin
      DefaultLineStyles=true
      name=1
      lineColor=darkpurple
      pointFillColor=darkpurple
      pointLineColor=darkpurple
      symbolType=6
      lineWidth=2.0
      lineStylePattern=Dash Dot
      numPtsSkip=12
      ptsOffset=1
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=darkpurple
      pointFillColor=darkpurple
      pointLineColor=darkpurple
      symbolType=7
      symbolSize=8.0
      lineWidth=2.0
      lineStylePattern=Dash Dot
      numPtsSkip=12
      ptsOffset=2
   Line End
   Line Begin
      DefaultLineStyles=true
      name=3
      lineColor=darkpurple
      pointFillColor=darkpurple
      pointLineColor=darkpurple
      symbolType=8
      symbolSize=8.0
      lineWidth=2.0
      lineStylePattern=Dash Dot
      numPtsSkip=12
   Line End
   Line Begin
      DefaultLineStyles=true
      name=4
      lineColor=darkpurple
      lineWidth=2.0
      lineStylePattern=Dash Dot
      numPtsSkip=12
   Line End
   Line Begin
      DefaultLineStyles=true
      name=4
      lineColor=darkpurple
      lineWidth=2.0
      lineStylePattern=Dash Dot
      numPtsSkip=12
   Line End
Type End
Type Begin
   name=Flow-Div
   parameter=Flow
   type=ALL
   Line Begin
      DefaultLineStyles=true
      name=1
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineStylePattern=Dash
   Line End
Type End
Type Begin
   name=Flow-Cumloc
   parameter=Flow
   type=ALL
   Line Begin
      name=1
      fillColor=gray
      symbolType=2
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
   Line End
   Line Begin
      name=2
      lineColor=red
      fillColor=darkred
      pointFillColor=red
      pointLineColor=red
      symbolType=1
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=5
   Line End
   Line Begin
      name=3
      lineColor=orange
      fillColor=red
      pointFillColor=orange
      pointLineColor=orange
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=10
   Line End
   Line Begin
      name=4
      lineColor=darkgreen
      fillColor=orange
      pointFillColor=darkgreen
      pointLineColor=darkgreen
      symbolType=4
      symbolSize=8.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=15
   Line End
   Line Begin
      DefaultLineStyles=true
      name=5
      lineColor=darkcyan
      fillColor=darkgreen
      pointFillColor=darkcyan
      pointLineColor=darkcyan
      symbolType=9
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=20
   Line End
   Line Begin
      DefaultLineStyles=true
      name=6
      lineColor=darkmagenta
      pointFillColor=darkmagenta
      pointLineColor=darkmagenta
      symbolType=33
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=25
   Line End
Type End
Type Begin
   name=Stage
   parameter=Stage
   type=ALL
   Line Begin
      name=1
      lineColor=magenta
      lineWidth=2.0
   Line End
   Line Begin
      name=2
      lineColor=gray
      symbolType=2
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=5
   Line End
   Line Begin
      name=3
      lineColor=lightblue
      pointFillColor=magenta
      pointLineColor=magenta
      symbolType=1
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=10
   Line End
   Line Begin
      DefaultLineStyles=true
      name=4
      lineColor=orange
      pointFillColor=gray
      pointLineColor=gray
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=15
   Line End
   Line Begin
      name=4
      lineColor=darkblue
      pointFillColor=gray
      pointLineColor=gray
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=15
   Line End
   Line Begin
      name=4
      lineColor=lightGray
      pointFillColor=gray
      pointLineColor=gray
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=15
   Line End
Type End
Type Begin
   name=Elev
   parameter=Elev
   type=ALL
   Line Begin
      name=1
      lineColor=darkgreen
      symbolType=1
      symbolSize=8.0
      lineWidth=2.0
      drawOnDataPts=false
      autoSkipPoints=true
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=red
      fillColor=darkcyan
      pointFillColor=darkcyan
      pointLineColor=darkcyan
      symbolType=2
      symbolSize=8.0
      lineWidth=2.0
      numPtsSkip=12
   Line End
   Line Begin
      DefaultLineStyles=true
      name=3
      lineColor=orange
      symbolType=1
      symbolSize=8.0
      lineWidth=2.0
      numPtsSkip=12
      ptsOffset=3
   Line End
   Line Begin
      name=4
      fillColor=magenta
      pointFillColor=darkmagenta
      pointLineColor=darkmagenta
      symbolSize=8.0
      lineWidth=2.0
      numPtsSkip=12
      ptsOffset=6
   Line End
   Line Begin
      DefaultLineStyles=true
      name=4
      lineColor=darkcyan
      fillColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolSize=8.0
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=25
   Line End
   Line Begin
      DefaultLineStyles=true
      name=4
      lineColor=darkmagenta
      fillColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolSize=8.0
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=25
   Line End
   Line Begin
      DefaultLineStyles=true
      name=4
      lineColor=gray
      fillColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolSize=8.0
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=25
   Line End
   Line Begin
      DefaultLineStyles=true
      name=4
      lineColor=black
      fillColor=magenta
      pointFillColor=magenta
      pointLineColor=magenta
      symbolSize=8.0
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=25
   Line End
Type End
Type Begin
   name=Storage
   parameter=Stor
   type=ALL
   Line Begin
      name=1
      lineColor=darkgreen
      pointFillColor=darkgreen
      pointLineColor=darkgreen
      symbolType=2
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
   Line End
   Line Begin
      name=2
      lineColor=red
      pointFillColor=red
      pointLineColor=red
      symbolType=1
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=5
   Line End
   Line Begin
      name=3
      lineColor=orange
      pointFillColor=orange
      pointLineColor=orange
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=15
   Line End
   Line Begin
      name=4
      symbolType=4
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=15
   Line End
   Line Begin
      name=4
      lineColor=darkcyan
      pointFillColor=darkcyan
      pointLineColor=darkcyan
      symbolType=9
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=20
   Line End
   Line Begin
      name=4
      lineColor=darkmagenta
      pointFillColor=darkmagenta
      pointLineColor=darkmagenta
      symbolType=33
      symbolSize=6.0
      drawPoints=true
      numPtsSkip=30
      ptsOffset=25
   Line End
Type End
Type Begin
   name=Flow-Base
   parameter=Flow
   type=ALL
   Line Begin
      DefaultLineStyles=true
      name=Flow-Base 1
      lineColor=red
      pointFillColor=darkblue
      pointLineColor=darkblue
      symbolType=1
      symbolSize=8.0
      lineWidth=2.0
   Line End
   Line Begin
      DefaultLineStyles=true
      name=Flow-Base 2
      lineColor=darkGray
      pointFillColor=darkblue
      pointLineColor=darkblue
      symbolType=2
      symbolSize=8.0
      lineWidth=2.0
   Line End
Type End
Type Begin
   name=Precip
   parameter=Precip
   type=ALL
   Line Begin
      name=1
      lineColor=darkblue
      fillColor=darkblue
      lineWidth=2.0
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=cyan
      fillColor=magenta
      lineWidth=2.0
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=gray
      fillColor=magenta
      lineWidth=2.0
   Line End
   Line Begin
      name=2
      lineColor=lightorange
      fillColor=magenta
      lineWidth=2.0
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=green
      fillColor=magenta
      lineWidth=2.0
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      lineColor=lightGray
      fillColor=magenta
      lineWidth=2.0
   Line End
Type End
Type Begin
   name=Flow
   parameter=Flow
   type=ALL
   Line Begin
      name=Flow 1
      lineColor=darkgreen
      symbolType=1
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=25
   Line End
   Line Begin
      DefaultLineStyles=true
      name=Flow 2
      lineColor=red
      fillColor=darkgreen
      pointFillColor=darkcyan
      pointLineColor=darkcyan
      lineWidth=2.0
      numPtsSkip=30
   Line End
   Line Begin
      DefaultLineStyles=true
      name=Flow 2
      lineColor=orange
      fillColor=orange
      pointFillColor=orange
      pointLineColor=orange
      symbolType=1
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=5
   Line End
   Line Begin
      name=Flow 2
      fillColor=red
      pointFillColor=red
      pointLineColor=red
      symbolType=2
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=10
   Line End
   Line Begin
      DefaultLineStyles=true
      name=Flow 2
      lineColor=darkcyan
      fillColor=darkred
      pointFillColor=darkred
      pointLineColor=darkred
      symbolType=10
      symbolSize=8.0
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=5
   Line End
   Line Begin
      DefaultLineStyles=true
      name=Flow 2
      lineColor=darkmagenta
      fillColor=gray
      pointFillColor=gray
      pointLineColor=gray
      symbolType=12
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=10
   Line End
   Line Begin
      DefaultLineStyles=true
      name=Flow 2
      lineColor=gray
      fillColor=purple
      pointFillColor=purple
      pointLineColor=purple
      symbolType=18
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=15
   Line End
   Line Begin
      DefaultLineStyles=true
      name=Flow 2
      lineColor=black
      fillColor=black
      pointFillColor=black
      pointLineColor=black
      symbolType=33
      lineWidth=2.0
      numPtsSkip=30
      ptsOffset=20
   Line End
Type End
Type Begin
   name=Station-Elev
   parameter=elev
   type=ALL
   Line Begin
      DefaultLineStyles=true
      name=1
   Line End
   Line Begin
      DefaultLineStyles=true
      name=2
      symbolType=8
      symbolSize=6.0
      drawPoints=true
      lineStylePattern=Dash
      numPtsSkip=30
   Line End
Type End
