# This config file and run folder must be placed in the same directory

Begin Config

MainFile               run\main.wresl 
Solver                 XA  
SvarFile               DSS\CL_EXISTING_BO_081011_SV.DSS
DvarFile               ..\example1_DV.DSS
SvarAPart              CALSIM  
SvarFPart              2005A01A 
InitFile               DSS\CalLite2005A01AINIT.DSS
InitFPart              2005A01A 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
ShowWreslLog		   Yes 
PrefixInitToDvarFile   No
IlpLog                 No

End Config


