##################################################################################
# Command line Example:
# C:\wrimsv2_SG\bin\runConfig_limitedXA.bat D:\example\EXISTING_BO.config
# 
# Note:
# 1. This config file and the RUN directory must be placed in the same directory.
# 2. Use relative path to increase the portability.
#    For example, use RUN\main.wresl for MainFile and DSS\INIT.dss for InitFile
##################################################################################


MainFile           run\main_bdcp_wsi.wresl
Solver             xa
DvarFile           dss\genwsidi_dv.dss
SvarFile           dss\cl_2020d09e_sv.dss
#GroundwaterDir     .
SvarAPart          calsim
SvarFPart          2020d09e
InitFile           dss\callite2020d09einit.dss
InitFPart          2020d09e
TimeStep           1mon
StartYear          1921
StartMonth         10
StopYear           2003
StopMonth          9
IlpLog             no
IlpLogFormat       Cplex
IlpLogVarValue     no
WreslPlus          yes
