body {
      font-family:arial;
      background-color:#ffffff;
      font-size:14.40pt;
      padding-left:0pt;
}
div {
     font-size:14.40pt;
}
p {
   margin:0;
   font-size:14.40pt;
}
ol {
    margin-top:0px;
    margin-bottom:0px;
}
ul {
    margin-top:0px;
    margin-bottom:0px;
}
span.pdfcharstyle1 {
                    font-family:'arial'    , helvetica, sans-serif;
                    font-size:13pt;
                    font-weight:normal;
                    font-weight:bold;
                    color:#000000;
                    x-used-count:7;
}
span.pdfcharstyle2 {
                    font-family:'arial'    , helvetica, sans-serif;
                    font-size:12pt;
                    font-weight:normal;
                    color:#000000;
                    x-used-count:14;
}
p.pdfparastyle01 {
                  margin-top:0px;
                  margin-left:0px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:24pt;
                  font-weight:bold;
                  color:#000000;
                  x-used-count:1;
}
p.pdfparastyle02 {
                  margin-top:20px;
                  margin-left:0px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:13pt;
                  font-weight:bold;
                  color:#000000;
                  x-used-count:5;
}
p.pdfparastyle03 {
                  margin-top:20px;
                  margin-left:10px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:13pt;
                  font-weight:bold;
                  color:#000000;
                  x-used-count:3;
}
p.pdfparastyle04 {
                  margin-top:10px;
                  margin-left:20px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:12pt;
                  font-weight:normal;
                  color:#000000;
                  x-used-count:2;
}
p.pdfparastyle05 {
                  margin-top:0px;
                  margin-left:40px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:12pt;
                  font-weight:normal;
                  color:#000000;
                  x-used-count:1;
}
p.pdfparastyle06 {
                  margin-top:0px;
                  margin-left:20px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:12pt;
                  font-weight:normal;
                  color:#000000;
                  x-used-count:1;
}
p.pdfparastyle07 {
                  margin-top:10px;
                  margin-left:10px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:12pt;
                  font-weight:normal;
                  color:#000000;
                  x-used-count:1;
}
p.pdfparastyle08 {
                  margin-top:0px;
                  margin-left:0px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:12pt;
                  font-weight:normal;
                  color:#000000;
                  x-used-count:1;
}
p.pdfparastyle09 {
                  margin-top:10px;
                  margin-left:0px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:13pt;
                  font-weight:bold;
                  color:#000000;
                  x-used-count:4;
}
p.pdfparastyle10 {
                  margin-top:10px;
                  margin-left:0px;
                  margin-right:0px;
                  text-indent:0px;
                  font-family:'arial'     , helvetica, sans-serif;
                  font-size:12pt;
                  font-weight:normal;
                  color:#000000;
                  x-used-count:1;
}
li.p-pdfparastyle09 {
                     font-family:'arial'      , helvetica, sans-serif;
                     font-size:13pt;
                     font-weight:bold;
                     color:#000000;
                     x-used-count:2;
}
li.p-pdfparastyle02 {
                     font-family:'arial'      , helvetica, sans-serif;
                     font-size:13pt;
                     font-weight:bold;
                     color:#000000;
                     x-used-count:3;
}
